---
name: unittest-moore

'on':
  push:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_mthreads/**'
      - 'src/flag_gems/ops/**'
      - 'src/flag_gems/fused/**'
      - 'src/flag_gems/utils/**'
      - 'src/flag_gems/csrc/**'
      - 'src/flag_gems/modules/**'
      - 'src/flag_gems/testing/**'
      - 'src/flag_gems/patches/**'
      - 'src/flag_gems/*.py'
      - 'src/flag_gems/runtime/*.py'
      - 'src/flag_gems/runtime/backend/__init__.py'
      - 'src/flag_gems/runtime/backend/backend_utils.py'
      - 'src/flag_gems/runtime/backend/device.py'
      - 'tests/**'
      - 'CMakeLists.txt'
      - '**/*.cmake'
      - 'tools/gpu_check_moore.sh'
      - 'tools/run_backend_tests.sh'
      - 'tools/run_command.sh'
      - '.github/workflows/gems-test-on-moore.yaml'
      - '.github/workflows/backend-test.yaml'

  pull_request:
    branches: ["master"]
    paths:
      - 'src/flag_gems/runtime/backend/_mthreads/**'
      - 'src/flag_gems/ops/**'
      - 'src/flag_gems/fused/**'
      - 'src/flag_gems/utils/**'
      - 'src/flag_gems/csrc/**'
      - 'src/flag_gems/modules/**'
      - 'src/flag_gems/testing/**'
      - 'src/flag_gems/patches/**'
      - 'src/flag_gems/*.py'
      - 'src/flag_gems/runtime/*.py'
      - 'src/flag_gems/runtime/backend/__init__.py'
      - 'src/flag_gems/runtime/backend/backend_utils.py'
      - 'src/flag_gems/runtime/backend/device.py'
      - 'tests/**'
      - 'CMakeLists.txt'
      - '**/*.cmake'
      - 'tools/gpu_check_moore.sh'
      - 'tools/run_backend_tests.sh'
      - 'tools/run_command.sh'
      - '.github/workflows/gems-test-on-moore.yaml'
      - '.github/workflows/backend-test.yaml'

jobs:
  test-on-moore:
    uses: ./.github/workflows/backend-test.yaml
    with:
      vendor: moore
      runner_label: mthreadsCI
      gpu_check_script: tools/gpu_check_moore.sh
      test_script: tools/run_backend_tests.sh
